<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f29b3aca-2c54-4904-b6c7-57c74dd6eb61" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f29b3aca-2c54-4904-b6c7-57c74dd6eb61fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
